@import url("https://fonts.googleapis.com/css?family=Cuprum:400,700|Fira+Sans+Condensed:400,700|Literata:400,700|Lora:400,700|Podkova:400,700&display=swap"); 

body { 
    background-color: #f8f8f8 !important; 
    padding: 0; 
    margin: 0; 
} 

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
    font-family: "Fira Sans Condensed"; 
    font-weight: 700 !important; 
} 
.button{
    color: #fff;
}
p, 
label { 
    font-family: "Literata"; 
} 

ul { 
    padding-right: 40px; 
} 

li { 
    list-style-type: none; /* Убираем маркеры */ 
} 

.header { 
    height: 100%; 
    background: #fff; 
} 

.logo { 
    width: 140px; 
    margin-left: 3rem; 
} 

.fa-user { 
    width: 20px; 
    font-size: 20px; 
} 

.btn-tab { 
    border-radius: 0px !important; 
    background: #444444 !important; 
    border: 1px solid #777777 !important; 
    font-size: 20px; 
} 

.btn-tab span { 
    font-size: 20px; 
} 
.container-content { 
    background: #fff; 
    padding: 30px; 
    min-height: 80vh; 
} 

.fa-briefcase { 
    width: 26px; 
} 

.fa-phone-alt { 
    width: 24px; 
    font-size: 19px; 
} 

/*Style for tabs start*/ 

.naccs .menu div { 
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); 
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); 
} 

.naccs .menu div.active { 
    background-color: #28a745 !important; 
} 

ul.nacc li { 
    opacity: 0; 
    -webkit-transform: translateX(50px); 
    transform: translateX(50px); 
    position: absolute; 
    width: 63vw; 
    list-style: none; 
    -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); 
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1); 
} 

ul.nacc li.active { 
    -webkit-transition-delay: 0.3s; 
    transition-delay: 0.3s; 
    z-index: 2; 
    opacity: 1; 
    -webkit-transform: translateX(0px); 
    transform: translateX(0px); 
} 

